<%- include('parts/header')%>
<%- include('parts/navbar')%>

<br>
<br>
<h1 class="about">About Project 🍵</h1>
<br>
<p class="about"> This is a <strong>FAKE</strong> store intended just for learning purposes. Since
    I, unlike the majority of students who depend on coffee, prefer Mate instead, thought it would be a cool
    project to practice some of the MVC concepts learned from lectures, perform some CRUD operations with a database as
    well as just further develop my web development skills in Node.js, to produce a small product landing page
    for some yerba mate products with filtering options alongside some verification aspects such as signing up and loging in as well as implementing
    a basket for the user. </p>
<br>
<br>
<br>
<div class="about">
    <h2>MVC basic principle</h2>
    <img id="about mvc-img" src="https://miro.medium.com/max/1152/1*rY6MdRjROHjppU2Iygoqsw.png" alt="mvc-pic">
    <style>
        .about {
            text-align: center;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: auto;
            max-width: 600px;
            border: 2px solid black;
        }

    </style>
</div>

<%- include('parts/footer')%>

</body>

</html>