<%- include("parts/header")%>
<%- include("parts/navbar")%>

<div class="container text-center">
    <h3>Login Page</h3>
    <form action="/login" method="POST">

        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
    <br>
    <div>   
        Sign up if you don't already have an account! <a href="/signup">Sign up Here</a>
    </div>
</div>

<%- include("parts/footer")%>